* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

Header{
    Position:sticky;
    Top:0;
}

body {

    font-family: sans-serif;
}

nav {
    height: 8vh;
    background: #224196;
}

img {
    margin: 50px;
}

/** decorations */

.spacer {
    height: 108px;
}

.spacer-half {
    height: 54px;
}

.spacer-quarter {
    height: 27px;
}

.borderOne {
    height: 8vh;
    border: 10px solid #5269aa;
    background-color: #224196a0;
    display: flex;
}

.borderOne h2 {
    font-family: Oxygen; 
    font-weight: 400;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #824699;
    font-size: 3vh;
}

/** buttons */

.btn {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 50vw;
    position: absolute;
    z-index: 1;
    left: 25vw;
    background-color: #3f60b9;
    overflow-x: hidden;
    border: 5px solid rgb(87, 87, 87);
    color: white;
    font-size: 2vh;
    opacity: 0.4;
    transition: 0.3s;
    overflow: hidden;
}
  
.btn:hover {opacity: 1}

.toSummary {
    bottom: -0vh;
}

/** main page only */

.nameStack {
    margin-top: -25px;
    flex-direction: column;
    line-height: 60px;
}

.nameStack h1 {
    font-family: 'Oxygen';
    font-weight: 400;
    margin: 0px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Nunito';
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    font-size: 50px;
    color: #ae5fce;
}

.introSpace {
    height: 92vh;
    background-image: url("../img/bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.introSpace h2 {
    font-weight: 100;
    font-size: 15pt;
    margin-left: 200px;
    margin-top: -85px;
}

/** summary only */

.summarySpace {
    height: 92vh;
    background-image: url("../img/bgreverse.jpg");
    background-size: cover;
}



.container p {
    font-size: 28px;
    line-height: 140%;
    font-family: Oxygen; font-weight: 400;
    color: #444444;
    padding-bottom: 10px;
}

.articles p {
    padding-bottom: 0px;
    font-size: 28px;
    line-height: 140%;
    font-family: Oxygen; font-weight: 400;
    color: #666666;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        padding-right: 60px;
        padding-left: 60px;
}
}
@media (min-width: 992px) {
    .container {
        width: 970px;
}
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
}
}











.articles img {
    border: 2px solid black;
}

.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 60px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after,
.row:before {
  display: table;
  content: " ";
}

.row:after {
    clear: both;
}

.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.img-portfolio {
    margin: 0 auto;
}
  
.img-portfolio:hover {
    opacity: 0.8;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

@media (min-width: 992px) {
    .col-md-4 {
        float: left;
        width: 33.33333333%;
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {

    .landing {
        flex-direction: column;
    }
    .introSpace h2 {
        margin-left: -50px;
        margin-top: 5px;
    }
    .mainImg {
        margin-top: -5vh;
    }
}