* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

Header{
    Position:sticky;
    Top:0;
}

body {

    font-family: sans-serif;
}

.btn2Summary {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 50vw;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 25vw;
    background-color: #3f60b9;
    overflow-x: hidden;
    border: 5px solid rgb(87, 87, 87);
    color: white;
    font-size: 2vh;
    opacity: 0.4;
    transition: 0.3s;
    overflow: hidden;
}
  
.btn2Summary:hover {opacity: 1}

nav {
    height: 8vh;
    background: #224196;
}

img {
    margin: 50px;
}

.nameStack {
    margin-top: -25px;
    flex-direction: column;
    line-height: 60px;
}

.nameStack h1 {
    font-family: 'Oxygen';
    font-weight: 400;
    margin: 0px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Nunito';
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    font-size: 50px;
    color: #ae5fce;
}

.introSpace {
    height: 92vh;
    background-image: url("../img/bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introSpace h2 {
    font-weight: 100;
    font-size: 15pt;
    margin-left: 200px;
    margin-top: -85px;
}

.borderOne {
    height: 8vh;
    border: 10px solid #5269aa;
    background-color: #224196a0;
    display: flex;
}

.borderOne h2 {
    font-family: Oxygen; 
    font-weight: 400;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #824699;
    font-size: 3vh;
}

.summarySpace {
    height: 92vh;
    background-image: url("../img/bgreverse.jpg");
    padding-left: 108px;
    padding-right: 108px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

item1 {
    grid-column: 1; 
    grid-row: 1;
}

item2 {
    grid-column: 1; 
    grid-row: 1;
}

@media screen and (max-width: 768px) {

    .landing {
        flex-direction: column;
    }

    .introSpace h2 {
        margin-left: -50px;
        margin-top: 5px;
    
    }
    .mainImg {
        margin-top: -5vh;
    }

    .grid-container {
        width: auto;
        margin-left: 10vw;
        margin-right: 10vw;
    }

}